<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>超市账单管理系统</title>
    <link rel="stylesheet" href="css/public.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/zxf_page.css"/>
</head>
<body>
<!--头部-->
<header class="publicHeader" th:replace="~{public::publicHeader}">
</header>
<!--时间-->
    <section class="publicTime">
        <span id="time">2015年1月1日 11:11  星期一</span>
        <a href="#">温馨提示：为了能正常浏览，请使用高版本浏览器！（IE10+）</a>
    </section>
<!--主体内容-->
    <section class="publicMian ">
        <div class="left">
            <h2 class="leftH2"><span class="span1"></span>功能列表 <span></span></h2>
            <nav>
                <ul class="list">
                    <li id="active"><a href="billList.html">账单管理</a></li>
                    <li><a href="providerList.html">供应商管理</a></li>
                    <li><a href="userList.html?pageSize=8">用户管理</a></li>
                    <li><a href="password.html">密码修改</a></li>
                    <li><a href="login.html">退出系统</a></li>
                </ul>
            </nav>
        </div>
        <div class="right">
            <div class="location">
                <strong>你现在所在的位置是:</strong>
                <span>账单管理页面</span>
            </div>
            <div class="search">
                <form method="get" th:action="@{/queryBill}">
                <span>商品名称：</span>
                <input name="goodsName" type="text" placeholder="请输入商品的名称"/>
                
                <span>供应商：</span>
                <select name="provider.id" >
                    <option value="0">--请选择--</option>
                    <option  th:each="provider:${providersInBill}" th:value="${provider.id}">[[${provider.providerName}]]</option>
                </select>

                <span>是否付款：</span>
                <select name="payment">
                    <option value="">--请选择--</option>
                    <option value="true">已付款</option>
                    <option value="false">未付款</option>
                </select>
                    <input type="submit" hidden="hidden" id="submitQueryBill">
                <input type="button" value="查询" id="queryBill"/>
                    <span style="color: red"  th:text="${queryError}"></span>
                <a href="billAdd.html">添加订单</a>
                </form>
            </div>
            <!--账单表格 样式和供应商公用-->
            <table class="providerTable" cellpadding="0" cellspacing="0">
                <tr class="firstTr">
                    <th width="10%">账单编码</th>
                    <th width="10%">商品名称</th>
                    <th width="20%">供应商</th>
                    <th width="10%">账单金额</th>
                    <th width="10%">是否付款</th>
                    <th width="10%">创建时间</th>
                    <th width="30%">操作</th>
                </tr>
                <tr th:each="bill:${bills}">
                    <td th:text="${bill.goodsId}">213</td>
                    <td th:text="${bill.goodsName}">123</td>
                    <td th:text="${bill.provider.providerName}">北京市粮油总公司</td>
                    <td th:text="${#numbers.formatDecimal(bill.goodsPrice/100.0,1,2)}">22.00</td>
                    <td th:text="${bill.payment}?已付款:未付款">未付款</td>
                    <td th:text="${#dates.format(bill.createDate,'yyyy年MM月dd日')}">2015-11-12</td>
                    <td>
                        <a th:href="@{/billView.html(pageNum=${currentPage},id=${bill.id})}"><img src="img/read.png" alt="查看" title="查看"/></a>
                        <a th:href="@{/billUpdate.html(pageNum=${currentPage},id=${bill.id})}"><img src="img/xiugai.png" alt="修改" title="修改"/></a>
                        <a href="#" th:name="${bill.id}" class="removeBill"><img src="img/schu.png" th:alt="${currentPage}" title="删除"/></a>
                    </td>
                </tr>
            </table>
            <div class="zxf_pagediv"></div>
        </div>
    </section>

<!--点击删除按钮后弹出的页面-->
<div class="zhezhao"></div>
<div class="remove" id="removeBi">
    <div class="removerChid">
        <h2>提示</h2>
        <div class="removeMain">
            <p>你确定要删除该订单吗？</p>
            <a href="#" id="yes">确定</a>
            <a href="#" id="no">取消</a>
        </div>
    </div>
</div>

    <footer class="footer">
    </footer>

<script src="js/jquery.js"></script>
<script src="js/js.js"></script>
<script>
    (function($){
        var zp = {
            init:function(obj,pageinit){
                return (function(){
                    zp.addhtml(obj,pageinit);
                    zp.bindEvent(obj,pageinit);
                }());
            },
            addhtml:function(obj,pageinit){
                return (function(){
                    obj.empty();
                    /*上一页*/
                    if (pageinit.current > 1) {
                        obj.append('<a href="javascript:;" class="prebtn">上一页</a>');
                    } else{
                        obj.remove('.prevPage');
                        obj.append('<span class="disabled">上一页</span>');
                    }
                    /*中间页*/
                    if (pageinit.current >4 && pageinit.pageNum > 4) {
                        obj.append('<a href="javascript:;" class="zxfPagenum">'+1+'</a>');
                        obj.append('<a href="javascript:;" class="zxfPagenum">'+2+'</a>');
                        obj.append('<span>...</span>');
                    }
                    if (pageinit.current >4 && pageinit.current <= pageinit.pageNum-5) {
                        var start  = pageinit.current - 2,end = pageinit.current + 2;
                    }else if(pageinit.current >4 && pageinit.current > pageinit.pageNum-5){
                        var start  = pageinit.pageNum - 4,end = pageinit.pageNum;
                    }else{
                        var start = 1,end = 9;
                    }
                    for (;start <= end;start++) {
                        if (start <= pageinit.pageNum && start >=1) {
                            if (start == pageinit.current) {
                                obj.append('<span class="current">'+ start +'</span>');
                            } else if(start == pageinit.current+1){
                                obj.append('<a href="javascript:;" class="zxfPagenum nextpage">'+ start +'</a>');
                            }else{
                                obj.append('<a href="javascript:;" class="zxfPagenum">'+ start +'</a>');
                            }
                        }
                    }
                    if (end < pageinit.pageNum) {
                        obj.append('<span>...</span>');
                    }
                    /*下一页*/
                    if (pageinit.current >= pageinit.pageNum) {
                        obj.remove('.nextbtn');
                        obj.append('<span class="disabled">下一页</span>');
                    } else{
                        obj.append('<a href="javascript:;" class="nextbtn">下一页</a>');
                    }
                    /*尾部*/
                    obj.append('<span>'+'共'+'<b>'+pageinit.pageNum+'</b>'+'页，'+'</span>');
                    obj.append('<span>'+'到第'+'<input type="number" class="zxfinput" value="'+pageinit.current+'"/>'+'页'+'</span>');
                    obj.append('<span class="zxfokbtn">'+'确定'+'</span>');
                }());
            },
            bindEvent:function(obj,pageinit){
                return (function(){
                    obj.on("click","a.prebtn",function(){
                        var cur = parseInt(obj.children("span.current").text());
                        var current = $.extend(pageinit, {"current":cur-1});
                        zp.addhtml(obj,current);
                        if (typeof(pageinit.backfun)=="function") {
                            pageinit.backfun(current);
                        }
                    });
                    obj.on("click","a.zxfPagenum",function(){
                        var cur = parseInt($(this).text());
                        var current = $.extend(pageinit, {"current":cur});
                        zp.addhtml(obj,current);
                        if (typeof(pageinit.backfun)=="function") {
                            pageinit.backfun(current);
                        }
                    });
                    obj.on("click","a.nextbtn",function(){
                        var cur = parseInt(obj.children("span.current").text());
                        var current = $.extend(pageinit, {"current":cur+1});
                        zp.addhtml(obj,current);
                        if (typeof(pageinit.backfun)=="function") {
                            pageinit.backfun(current);
                        }
                    });
                    obj.on("click","span.zxfokbtn",function(){
                        var cur = parseInt($("input.zxfinput").val());
                        if(cur>pageinit.pageNum||cur<1){
                            cur=1;
                        }
                        var current = $.extend(pageinit, {"current":cur});
                        zp.addhtml(obj,{"current":cur,"pageNum":pageinit.pageNum});
                        if (typeof(pageinit.backfun)=="function") {
                            pageinit.backfun(current);
                        }
                    });
                }());
            }
        }
        $.fn.createPage = function(options){
            var pageinit = $.extend({
                pageNum : 15,
                current : 1,
                backfun : function(){}
            },options);
            zp.init(this,pageinit);
        }
    }(jQuery));
</script>
<script type="text/javascript">
    //此处调用初始化分页方法，设定回调函数
    //翻页
    $(".zxf_pagediv").createPage({
        pageNum: [[${totalPage}]],
        current: [[${currentPage}]],
        backfun: function(e) {//分页完成后回调
            var queryUrl ="[[${queryUrl}]]";
            var goodsName="[[${bill.goodsName}]]";
            var providerId= "[[${bill.provider.id}]]";
            var payment = "[[${bill.payment}]]";
            var pagenum = this.current;
            $.ajax({
                type: "POST",
                url: queryUrl==''?"/billList.html":"/queryBill",
                dataType:"JSON",//预期服务器返回数据类型
                data:{
                    "pageNum":this.current,
                    "pageSize":'8',
                    "goodsName":goodsName,
                    "payment":payment,
                    "provider.id":providerId
                },
                async: false,
                success: function(msg){
                    $(".providerTable").html("");
                    $(".providerTable").append("<tr class=\"firstTr\">\n" +
                        "                    <th width=\"10%\">账单编码</th>\n" +
                        "                    <th width=\"10%\">商品名称</th>\n" +
                        "                    <th width=\"20%\">供应商</th>\n" +
                        "                    <th width=\"10%\">账单金额</th>\n" +
                        "                    <th width=\"10%\">是否付款</th>\n" +
                        "                    <th width=\"10%\">创建时间</th>\n" +
                        "                    <th width=\"30%\">操作</th>\n" +
                        "                </tr>");
                    $.each(msg,function (gi,obj) {
                        var ispay = obj.payment?"已付款":"未付款";
                        var realPrice = obj.goodsPrice/100;
                        $(".providerTable").append(" <tr>\n" +
                            "                    <td>"+obj.goodsId+"</td>\n" +
                            "                    <td>"+obj.goodsName+"</td>\n" +
                            "                    <td>"+obj.provider.providerName+"</td>\n" +
                            "                    <td>"+realPrice+"</td>\n" +
                            "                    <td>"+ispay+"</td>\n" +
                            "                    <td>"+Format(obj.createDate,'yyyy年MM月dd日')+"</td>\n" +
                            "                    <td>\n" +
                            "                        <a href=\"billView.html?pageNum="+pagenum+"&id="+obj.id+"\"><img src=\"img/read.png\" alt=\"查看\" title=\"查看\"/></a>\n" +
                            "                        <a href=\"billUpdate.html?pageNum="+pagenum+"&id="+obj.id+"\"><img src=\"img/xiugai.png\" alt=\"修改\" title=\"修改\"/></a>\n" +
                            "                        <a href=\"#\" name='"+obj.id+"' class=\"removeBill\"><img src=\"img/schu.png\" alt=\""+pagenum+"\" title=\"删除\"/></a>\n" +
                            "                    </td>\n" +
                            "                </tr>");
                    });
                }



            });

            removeBill();//绑定删除按钮事件
        }
    });

    //格式化服务器传送过来的Date对象
    function Format(datetime,fmt) {
        if (parseInt(datetime)==datetime) {
            if (datetime.length==10) {
                datetime=parseInt(datetime)*1000;
            } else if(datetime.length==13) {
                datetime=parseInt(datetime);
            }
        }
        datetime=new Date(datetime);
        var o = {
            "M+" : datetime.getMonth()+1,                 //月份
            "d+" : datetime.getDate(),                    //日
            "h+" : datetime.getHours(),                   //小时
            "m+" : datetime.getMinutes(),                 //分
            "s+" : datetime.getSeconds(),                 //秒
            "q+" : Math.floor((datetime.getMonth()+3)/3), //季度
            "S"  : datetime.getMilliseconds()             //毫秒
        };
        if(/(y+)/.test(fmt))
            fmt=fmt.replace(RegExp.$1, (datetime.getFullYear()+"").substr(4 - RegExp.$1.length));
        for(var k in o)
            if(new RegExp("("+ k +")").test(fmt))
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));
        return fmt;
    }
</script>
<script src="js/time.js"></script>
<script>
    $(function () {
        $("#queryBill").click(function () {
            $("#submitQueryBill").click();
        })
    })
</script>
</body>
</html>