<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>超市账单管理系统</title>
    <link rel="stylesheet" href="css/public.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <script src="js/jquery.js"></script>
</head>
<body>
<!--头部-->
<header class="publicHeader" th:replace="~{public::publicHeader}">
</header>
<!--时间-->
<section class="publicTime">
    <span id="time">2015年1月1日 11:11  星期一</span>
    <a href="#">温馨提示：为了能正常浏览，请使用高版本浏览器！（IE10+）</a>
</section>
<!--主体内容-->
<section class="publicMian ">
    <div class="left">
        <h2 class="leftH2"><span class="span1"></span>功能列表 <span></span></h2>
        <nav>
            <ul class="list">
                <li><a href="billList.html">账单管理</a></li>
                <li ><a href="providerList.html">供应商管理</a></li>
                <li id="active"><a href="userList.html?pageSize=8">用户管理</a></li>
                <li><a href="password.html">密码修改</a></li>
                <li><a href="login.html">退出系统</a></li>
            </ul>
        </nav>
    </div>
    <div class="right">
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>用户管理页面 >> 用户修改页面</span>
        </div>
        <div class="providerAdd">
            <form th:action="@{/userUpdate.html}" method="post" id="updateForm">
                <!--div的class 为error是验证错误，ok是验证成功-->
                <input type="text" name="id" hidden="hidden" th:value="${user.id}" readonly="readonly" >
                <input type="text" name="userLv" hidden="hidden" value="3" readonly="readonly" >
                <input type="text" name="pageNum" hidden="hidden" th:value="${pageNum}" readonly="readonly">
                <div>
                    <label for="userName">用户名称：</label>
                    <input th:value="${user.userName}" type="text" name="userName" id="userName" placeholder="韩露"/>
                    <span id="userNameSpan">*</span>
                </div>
                <div>
                    <label >用户性别：</label>

                    <select name="sex">
                        <option value="true" th:selected="${user.sex}?selected">男</option>
                        <option value="false" th:selected="${!user.sex}?selected">女</option>
                    </select>
                </div>
                <div>
                    <label for="data">出生日期：</label>
                    <input type="date" th:value="${#dates.format(user.birthday,'yyyy-MM-dd')}" name="birthday" id="data" placeholder="2016/2/1"/>
                    <span >*</span>
                </div>
                <div>
                    <label for="userphone">用户电话：</label>
                    <input type="text" th:value="${user.userphone}" name="userphone" id="userphone" placeholder="13533667897"/>
                    <span id="userphoneSpan" style="color:red;" >*</span>
                </div>
                <div>
                    <label for="userAddress">用户地址：</label>
                    <input type="text" th:value="${user.userAddress}" name="userAddress" id="userAddress" placeholder="北京"/>
                    <span id="userAddressSpan" style="color:red;" >*</span>
                </div>
                <div>
                    <label >用户类别：</label>
                    <input type="radio" th:disabled="${session.user.userlv!='管理员'}?disabled" value="管理员" name="userlv" th:checked="${user.userlv=='管理员'}?checked" />管理员
                    <input type="radio" th:disabled="${session.user.userlv=='普通用户'}?disabled" value="经理" name="userlv" th:checked="${user.userlv=='经理'}?checked"/>经理
                    <input type="radio" th:disabled="${session.user.userlv=='经理'}?disabled" value="普通用户" name="userlv" th:checked="${user.userlv=='普通用户'}?checked"/>普通用户
                </div>
                <div class="providerAddBtn">
                    <!--<a href="#">保存</a>-->
                    <!--<a href="userList.html">返回</a>-->
                    <button type="submit" hidden="hidden" id="doSubmit"></button>
                    <input type="button" value="保存" id="submit"/>
                    <input type="button" value="返回" id="back"/>
                </div>
            </form>
        </div>

    </div>
</section>
<footer class="footer">
</footer>
<script src="js/time.js"></script>
<script th:inline="javascript">
    var check1=1;
    var check2=1;
    var check3=1;
    var preName;
    $(function () {
        preName=$("#userName").val();
        $("#submit").click(function () {
            $("#userAddress").change();
            $("#userphone").change();
            $("#userName").change();
            var check = check1+check2+check3;
            if(check!=0){
                alert("数据有误,请检查");
                return
            }
            $("#doSubmit").click();
        });
        $("#back").click(function () {
           window.location.href="/userList.html?pageNum="+[[${pageNum}]]
        });



        $("#userAddress").change(function () {
            if ($("#userAddress").val().length < 3) {
                check1 = 1;
                $("#userAddressSpan").html("请输入正确的地址");
                return
            }
            check1 = 0;
            $("#userAddressSpan").html("");
        })

        $("#userphone").change(function () {
            if (!(/^1[3|4|5|8][0-9]\d{4,8}$/.test($("#userphone").val()))) {
                $("#userphoneSpan").html("不是完整的11位手机号或者正确的手机号前七位");
                check2 = 1;
                return
            }
            $("#userphoneSpan").html("");
            check2 = 0;
        })

        $("#userName").change(function () {
            if($("#userName").val()==preName){
                $("#userNameSpan").html("");
                check3 = 0;
                return
            }
            $.ajax({
                type: "post",
                url: "/checkUserName",
                dataType: "json",//预期服务器返回数据类型
                data: $("#updateForm").serialize(),
                success: function (msg) {
                    if (msg.result == "1") {
                        $("#userNameSpan").html("");
                        check3 = 0;
                    } else {
                        $("#userNameSpan").html("用户名称已存在，请重新输入")
                        $("#userNameSpan").css("color", "red");
                        check3 = 1;
                    }
                },
                error: function () {
                    alert("error");
                }
            });
        })
    })
</script>

</body>
</html>